@{
    ViewBag.Title = "FAQ";
}
        <ul id="faq">
            <li>
                <span>What is this site?</span>
                <p>
                    This website is a simple system for managing video games that was developed as a code sample for an interview. Users are able to add video games, cast votes for video games and mark the games as owned.
                </p>
            </li>
            <li>
                <span>What are these <b>actions</b> referred to throughout the site</span>
                <p>
                    As per the specifications for the website, users are only allowed to perform one of two actions a day. They can either vote for a currently-existing game or add a new game. Further, users cannot perform any action on certain days of the week (by default, Saturday and Sunday).<br /><br />
                    <i>Note that regardless of the number of actions a user has left, he/she can still mark a game as owned or clear the database whenever they like.</i>
                </p>
            </li>
            <li>
                <span>What technologies does this site use?</span>
                <p>
                    The site makes use of <a href="http://www.asp.net/mvc/mvc3" target="_blank">ASP.NET MVC3</a> with the Razor view engine, as well as a web service provided as part of the interview process.
                </p>
            </li>
            <li>
                <span>Is the code available?</span>
                <p>
                    Yes, the source code can be downloaded from <a href="https://github.com/cmptrgeekken/SierraBravo.Xbox" target="_blank">GitHub</a>. Note that the version in the repository utilizes a local repository, as the user key for the web service provided for this assignment has not been distributed.
                </p>
            </li>
        </ul>