@model SierraBravo.Xbox.Mvc.Models.VideoGameSubmitModel
@{
    ViewBag.Title = "Cast Vote";
}

<p>Click <b>Cast Vote</b> to confirm vote casting for game <b>@Model.Title</b></p>
@using(Html.BeginForm()){
    @Html.HiddenFor(m => m.Id)
    <input type="submit" value="Cast Vote" />
}